{% extends 'base.html.twig' %}
{% block title %} Liste des artistes - {{ parent() }}{% endblock %}
{% block body %}
<h1 class="text-center"> List of Artists</h1>
    <hr>
    <br>
<ul>
{% for artist in artists %}
    <div class="row">
        <div class="col-md-3">
            <img src="http://www.poesie-sonore.com/images_cb/francis-cabrel_petite-marie_promo_juke-box_vente-interdite.jpg" width="80" height="60">
        </div>
    <div class="col-md-4">
    <li><strong>{{ artist.name }}</strong></li>
        <small>Nombre d'album en base: <strong>{{ artist.albums | length }}</strong></small>
    </div>
    <div class="col-md-4">
        <a class="btn btn-info" href="{{ path('artist_show_route', {'id':artist.id}) }}">Détail</a>
        <a class="btn btn-success" href="{{ path('artist_edit_route', {'id':artist.id}) }}">Modifier</a>
        <a class="btn btn-danger" href="{{ path('artist_delete_route', {'id':artist.id}) }}">Supprimer</a>
    </div>
    </div>
{% endfor %}

</ul>
{% endblock %}

